.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
**/__pycache__
**/*.py[cod]
*.egg-info
build
dist
docs/_build
.venv
venv
.env
.gcp-run
data/**
datasets/**
outputs/**
outputs-cloud/**
**/*.ckpt
**/*.pth
**/*.pt
